.no-gutter
  padding-left: 0px
  padding-right: 0px

#page-slider
  .left-section
    height: 100vh
    .content-container
      border-right: 2px solid #cccccc
      position: relative
      top: 50%
      transform: translateY(-50%)
      -webkit-transform: translateY(-50%)
      -moz-transform: translateY(-50%)1
      -o-transform: translateY(-50%)
      -ms-transform: translateY(-50%)
      .brand-logo
        height: 150px
      .contact-list
        color: #0894B8
        padding: 50px 0 10px
        .section-header
          font-family: "Avenir-Bold"
        ul
          padding-left: 0
          list-style: none
          li
            padding: 5px 0
            font-family: "Avenir-Regular"
            text-transform: uppercase
            font-size: 15px
            .network-name
              display: inline-block
              margin-right: 10px
            .network-number
              display: inline-block
      .location-content
        color: #0894B8
        .section-header
          font-family: "Avenir-Bold"
        .location
          font-family: "Avenir-Regular"
          font-size: 15px
          line-height: 30px

  .right-section
    //background-color: green
    height: 100vh
    padding: 15% 0
    .seq
      .seq-nav
        padding: 0
        position: relative
        top: 0
        right: auto
        left: 0
        width: auto
        transform: none
        ul
          display: block
          .navigation-item
            display: inline-block
            width: auto
            height: auto
            .navigation-link
              .title
                font-family: "Avenir-Bold"
                text-transform: uppercase
                margin: 0 35px



